a{
  text-decoration: none;
}



.reveal {

    filter:blur(5px);
  }
  
  .reveal:hover{
      -webkit-animation: linear forwards reveal;
       -moz-animation: linear forwards reveal;
         -o-animation: linear forwards reveal;
            animation: linear forwards reveal;
  }

  @-webkit-keyframes reveal { from { filter:blur(5px); } to { filter:blur(0px); }  }
     @-moz-keyframes reveal { from { filter:blur(5px); } to { filter:blur(0px); }  }
       @-o-keyframes reveal { from { filter:blur(5px); } to { filter:blur(0px); }  }
          @keyframes reveal { from { filter:blur(5px); } to { filter:blur(0px); }  }


.steps{
  position: relative;
  top: -2%;
}

.rectangle{
  margin: 0rem 7.5rem 0rem 8rem;
  width: calc(100% - 15.5rem);
  height: 3.2rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.rectangle{
  width: 8rem;
  height: 1.9rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  border: solid 0.1rem #fdf6f6;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

/* .rectangle{
  width: 9.3rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #fdf6f6;
  box-sizing: border-box;
  border-radius: 0.5rem;
} */




.know-more{
  width: 8rem;
  height: 1.9rem;
  position: absolute;
  left: 0.6rem;
  top: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  color: white;
  background-color: transparent;
  transition: 200ms;
}

.know-more:hover{
  color: #0ec3ea;
  background-color: white;
}




.line-vertical{
  width: 0.5rem;
  height: 47.8rem;
  border-left: 6px solid;
  position: absolute;
  left: 4rem;
  top: 11rem;
  background-color: #0ec3ea;
}


.line-horizontal{
  width: 111rem;
  height: 0.5rem;
  border-left: 6px solid;
  position: absolute;
  left: 4.6rem;
  color: #0ec3ea;
  top: 58.4rem;
  background-color: #0ec3ea;
}


.small-vertical-line{
  width: 0.5rem;
  height: 3.6rem;
  border-right: 6px solid;
  position: absolute;
  left: 116rem;
  top: 58.4rem;
  background-color: #0ec3ea;

}


.line-vertical-2{
  width: 0.5rem;
  height: 41.5rem;
  border-right: 6px solid;
  position: absolute;
  left: 116rem;
  top: 62rem;
  background-color: #0ec3ea; 
}

.line-horizontal-2{
  width: 111rem;
  height: 0.5rem;
  border-left: 6px solid;
  position: absolute;
  left: 4.6rem;
  color: #0ec3ea;
  top: 103rem;
  background-color: #0ec3ea;
}

.small-vertical-line-2{
  width: 0.5rem;
  height: 5.6rem;
  border-left: 6px solid;
  position: absolute;
  left: 4.4rem;
  top: 103rem;
  background-color: #0ec3ea;

}

.line-vertical-3{
  width: 0.5rem;
  height: 41.5rem;
  border-left: 6px solid;
  position: absolute;
  left: 4.4rem;
  top: 113rem;
  background-color: #0ec3ea; 
}

/* frame projects */
.project-frame{
  transition: 200ms;
}
.project-frame:hover{
  background-color: #0ec3ea;
}
    .project-frame:hover .image{
      transform: scale(1.15);
    }


/* Services */
.services-frame-1{
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 10rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}


.services-frame-2{
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 60rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-3{
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 110rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-4{
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 10rem;
  top: 70rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-5{
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 60rem;
  top: 70rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-6{
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 107rem;
  top: 105.5rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-7{
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: -2rem;
  top: -5rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-8{
  margin: 0rem 0rem 163.6rem 8.3rem;
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 49rem;
  top: 179rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-9{
  margin: 0rem 0rem 163.6rem 8.3rem;
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: 99rem;
  top: 179rem;
  align-items: center;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.services-frame-10{
  margin: 0rem 0rem 163.6rem 8.3rem;
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 28.9rem;
  height: 53.6rem;
  position: absolute;
  left: -2rem;
  top: 245rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

/* ------x------------x */


.project-frame-1 {
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 33.9rem;
  height: 53.6rem;
  position: absolute;
  left: 7rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}




.project-frame-2 {
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 33.9rem;
  height: 53.6rem;
  position: absolute;
  left: 57rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.project-frame-3 {
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 33.9rem;
  height: 53.6rem;
  position: absolute;
  left: 107rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.project-frame-4 {
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 33.9rem;
  height: 53.6rem;
  position: absolute;
  left: 7rem;
  top: 70rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}

.project-frame-5 {
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 1.8rem 1.9rem;
  width: 33.9rem;
  height: 53.6rem;
  position: absolute;
  left: 57rem;
  top: 70rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/noise-texture-bg-aLW.png);
  background-repeat: repeat;
  background-size: 100% 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  /* background: linear-gradient(172.64deg, rgba(255, 255, 255, 0.5) -58.23%, rgba(255, 255, 255, 0.5) -1.62%, rgba(255, 255, 255, 0.5) 52.68%, rgba(255, 255, 255, 0.5) 95.34%); */
  background: linear-gradient(rgba(255,255,255,0.8) -58.23%,rgba(255,255,255,0.4) -1.62%, rgba(255,255,255,0.001));
  border-radius: 1rem;
}


.image{
  margin: 0rem 0rem 0.8rem 0.2rem;
  width: 30.6rem;
  height: 16.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
  transition: 200ms;
}

.project-title{
  margin: 0rem 0rem 2.5rem 0.4rem;
  max-width: 19.6rem;
  text-align: center;
  top: 3rem;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}

.project-desc{
  margin: 0rem 0.2rem 8rem 0rem;
  max-width: 24.6rem;
  text-align: center;
  font-size: 1.5rem;
  top: 3rem;
  position: relative;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}

.know-more-btn-grp{
  margin: 0rem 7.5rem 0rem 8rem;
  width: 28.3%;
  height: 3.2rem;
  position: absolute;
  top: 49rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.know-more-btn-grp:hover{
  background-color: white;
  color: #0ec3ea;
}

  a {
    color: black;
    text-decoration: none;
  }
  .know-more-btn-grp:hover p{
    color: #0ec3ea;
  }



.know-more-text{
  width: 8rem;
  height: 1.9rem;
  position: absolute;
  left: 0.6rem;
  top: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.rectangle-know-more{
  width: 9.3rem;
    height: 3.2rem;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 0.1rem #fdf6f6;
    box-sizing: border-box;
    border-radius: 0.5rem;
}



.post-row-1{
  position: relative;
  top: -13rem;
}

.footer{  
  position: relative;
  top: 190rem;

}

.random{
  box-sizing: border-box;
  padding-top: 8.8rem;
  width: 144rem;
  height: 253rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;

}



/* .container{
  
 background-color: #060012; 
  background-color: aliceblue;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: relative;
  top: 60.2rem;
  left: 4.5rem;

}
.corner{
  height: 100px;
  width: 100px;
  color: #0ec3ea;
  border: 0.5rem solid;
  position: absolute;
  left: 0.1%;
  top: -19%;
 
} */

.top-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 72px;
  z-index: 99999;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  margin: 0;
  padding-top: 0.1rem;
  text-align: center;
}

.inital-navbar {
  background-color: transparent;
}

.final-navbar {
  background-color: #0ec2eac7;
  filter: opacity(1.5);
}

.nav-item{
  margin: -4rem 5.7rem 0.1rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: white;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  transition: all .2s ease-in-out;
}

.nav-item:hover{
  transform: translate(0, -10px);
}

.nav-item-2{
  margin: 0rem 5.7rem 0.1rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: white;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  transition: all .2s ease-in-out;
}

.nav-item-2:hover{
  transform: translate(0, -10px);
}


.drop-in {
  animation: drop-in 1s ease 200ms backwards;
 }

.drop-in-2 {
animation: drop-in 1200ms ease 500ms backwards;
}

.move {
animation: move-up 1200ms ease 500ms backwards;
}
 
.move-home-img {
  animation: move-left 1200ms ease 500ms backwards;
  }

  
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
  }
    
@keyframes move-up {
from {
  opacity: 0;
  transform: translateY(100px);
}
to {
  opacity: 1;
  transform: translate(0px);
}
}

@keyframes move-left {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
  }
  
  

.connect-btn{
  width: 16.6rem;
  height: 5.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  /* color: #0ec3ea; */
  font-family: Montserrat, 'Source Sans Pro';
  /* white-space: nowrap; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #0ec3ea;
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
  transition: 200ms;
  color: #0ec3ea;
}

.connect-btn:hover{
  background-color: #0ec3ea;
  color: white;
}


.connect-btn-2{
  width: 16.6rem;
  height: 5.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  position: absolute;
  top: 0;
  /* color: #0ec3ea; */
  font-family: Montserrat, 'Source Sans Pro';
  /* white-space: nowrap; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #0ec3ea;
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
  transition: 200ms;
  color: #0ec3ea;
}


.connect-btn-2:hover{
  background-color: #0ec3ea;
  color: white;
}

